<section id="middle-section" class="flex flex-col flex-auto bg-third">
    <!-- top bar  -->
    <div id="receiver-container">
        <div id="topbar-user" data-ref="" class="chat-header flex items-center p-4 shadow-md" style="min-height: 70px;">
            <button id="arrow-left" class="mr-4 focus:outline-none lg:hidden md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
            </button>
        </div>
    </div>

    <!-- message container -->
    <div id="msg-container" class="chat-body p-4 flex-1 overflow-y-scroll">

    </div>

    <!-- input field -->
    <div class="chat-footer flex-none">
        <div class="flex items-center p-4">
            <form id="form" class="relative flex items-center flex-grow">

                <button id="attachements" @click="open = true"
                    class="flex items-center focus:outline-none mr-2 block text-main w-6 h-6 rounded-md transition duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-main w-6 h-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                    </svg>
                </button>
                <input id="input"
                    class="rounded-md p-2 w-full bg-fith placeholder:text-fourth text-sm focus:outline-none" type="text"
                    value="" placeholder="" />
            </form>
        </div>
    </div>
</section>