<!-- profile -->
<section
    class="profile hidden relative overflow-visible bg-second flex flex-col flex-none overflow-auto w-0 group lg:max-w-sm md:w-2/5 transition-all duration-300 ease-in-out">

    <button id="home" class="absolute pl-2 pt-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </svg>
    </button>

    <div class="no-scroll overflow-y-scroll h-screen bg-second">
        <div class="flex justify-center my-5 mx-auto w-11/12 px-3">
            <img class="img-profile w-28 h-28 border border-black rounded-full" title="/avatar7.png" alt="profile"
                src="/avatar7.png">
        </div>

        <p class="display-name-profile text-center text-xl text-fourth font-bold">Akram Idrissi</p>

        <!-- search form -->
        <form class="my-5 mx-auto w-11/12 px-3">
            <div class="mb-6">
                <label for="name" class="block text-fourth font-bold">Name:</label>
                <input disabled type="text" name="name" value="Akram"
                    class="name-profile input w-full bg-third text-fourth py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600" />
            </div>

            <div class="mb-6">
                <label for="emial" class="block text-fourth font-bold">Email:</label>
                <input disabled type="text" name="emial" value="akram.mo.gb@gmail.com"
                    class="email-profile input w-full bg-third text-fourth py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600" />
            </div>
        </form>

        <div class="mx-auto w-11/12 px-3">
            <span class="block text-fourth font-bold mb-3">Programming Languages</span>
            <div class="flex items-center flex-wrap">
                <span href="#" class="p-2 mb-2 mr-2 inline-block bg-fith rounded-md ">
                    <div class="flex items-center">
                        <span title="python" class="inline-block truncate text-fourth font-bold text-md ml-1">
                            Python</span>
                    </div>
                </span>

                <span href="#" class="p-2 mb-2 mr-2 inline-block bg-fith rounded-md ">
                    <div class="flex items-center">
                        <span title="python" class="inline-block truncate text-fourth font-bold text-md ml-1">
                            Javascript</span>
                    </div>
                </span>

                <span href="#" class="p-2 mb-2 mr-2 inline-block bg-fith rounded-md ">
                    <div class="flex items-center">
                        <span title="python" class="inline-block truncate text-fourth font-bold text-md ml-1">
                            Data scientist</span>
                    </div>
                </span>

                <span href="#" class="p-2 mb-2 mr-2 inline-block bg-fith rounded-md ">
                    <div class="flex items-center">
                        <span title="python" class="inline-block truncate text-fourth font-bold text-md ml-1">
                            Java</span>
                    </div>
                </span>

                <span href="#" class="p-2 mb-2 mr-2 inline-block bg-fith rounded-md ">
                    <div class="flex items-center">
                        <span title="python" class="inline-block truncate text-fourth font-bold text-md ml-1">
                            google cloud</span>
                    </div>
                </span>

                <span href="#" class="p-2 mb-2 mr-2 inline-block bg-fith rounded-md ">
                    <div class="flex items-center">
                        <span title="python" class="inline-block truncate text-fourth font-bold text-md ml-1">
                            amazon cloud (aws)</span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</section>