<%- include('header') %>
<div class="h-screen w-full flex antialiased text-gray-200 bg-second overflow-hidden">
    <div class="flex-1 flex flex-col">
        <main class="flex-grow flex flex-row min-h-0">
            <!-- left -->
            <%- include('left-part') %>
            <!-- middle -->
            <%- include('middle-part') %>
        </main>
    </div>
</div>
<%- include('footer') %>