<script src="/socket.io/socket.io.js"></script>
<script src="jquery-3.6.0.min.js"></script>
<script src="chat.js"></script>
<script src="render.js"></script>

<script>
    const showHide = () => {
        ("#left-section").classList.toggle("w-screen");
    }

    $("#arrow-left").on("click", () => {
        $("#close").classList.toggle("block");
        showHide();
    });

    $("#close").on("click", () => {
        showHide();
        $("#arrow-left").classList.toggle("block");
    });


    let username = window.localStorage.getItem("name");
    if (username !== null) {
        username = username.charAt(0).toUpperCase() + username.slice(1);
        let msg = `Welcome back, ${username} :)`;

        if (window.location.include("login")) msg = `User created, log in as ${username} to Discover the other world!!`

        $(".welcome").html(`
            <p x-data="{show:true}" x-init="setTimeout(() => show=false, 3000)" x-show="show" x-transition
            class="fixed bg-blue-500 text-white py-2 px-4 rounded-xl z-20 bottom-20 right-6 font-bold">
            ${msg}
            </p>
        `);
        window.localStorage.clear();
    } else {
        $(".welcome").html('');
    }


</script>

</body>

</html>