<script src="/socket.io/socket.io.js"></script>
<script src="jquery-3.6.0.min.js"></script>
<script src="chat.js"></script>
<script src="render.js"></script>

<script>
    const showHide = () => {
        $("#left-section").toggleClass("w-screen");
    }

    $("#arrow-left").on("click", () => {
        $("#close").toggleClass("block");
        showHide();
    });

    $("#close").on("click", () => {
        showHide();
        $("#arrow-left").toggleClass("block");
    });

    let username = window.localStorage.getItem("name");
    if (username) {
        username = username.charAt(0).toUpperCase() + username.slice(1);

        $(".welcome").html(`
            <p x-data="{show:true}" x-init="setTimeout(() => show=false, 3000)" x-show="show" x-transition
            class="fixed bg-blue-500 text-white py-2 px-4 rounded-xl z-20 bottom-20 right-6 font-bold">
            Welcome back, ${username} :)
            </p>
        `);
        window.localStorage.clear();
    } else {
        $(".welcome").html('');
    }

    function showProfile() {
        $("#profile").on("click", () => {
            console.log("hit");
            $.ajax({
                url: "profile",
                type: "GET",
                dataType: "json",
                success: function (data, status, xhr) {
                    console.log(data);
                    if (data.error) {
                        console.log("error");
                    } else {
                        console.log(data);
                        /* window.localStorage.setItem("name", data.name);
                        window.location = location; */
                    }
                },
                error: function (xhr, status, err) {
                    reset();
                },
            });
        });

        $(".profile").toggleClass("hidden");
        $("#left-section").toggleClass("hidden");
    }

    $("#home").click(() => {
        $(".profile").toggleClass("hidden");
        $("#left-section").toggleClass("hidden");
    })


</script>

</body>

</html>