<script src="/socket.io/socket.io.js"></script>
<script src="jquery-3.6.0.min.js"></script>
<script src="client.js"></script>
<script src="utils.js"></script>
<script src="script.js"></script>

<script>
    function showHide() {
        document.getElementById("left-section").classList.toggle("w-screen");
    }

    document.getElementById("arrow-left").addEventListener("click", () => {
        document.getElementById("close").classList.toggle("block");
        showHide();
    });

    document.getElementById("close").addEventListener("click", () => {
        showHide();
        document.getElementById("arrow-left").classList.toggle("block");

    });
</script>

</body>

</html>