<%- include('header') %>
    <main class="content">
        <div class="container p-0">

            <h1 class="h3 mb-3">Messages</h1>

            <div class="card">
                <div class="row g-0">
                    <!-- start left bar -->
                    <%- include('left-bar') %>
                        <!-- end left bar -->

                        <!-- start right bar -->
                        <%- include('middle-bar') %>
                            <!-- end right bar -->
                </div>
            </div>
        </div>
    </main>
    <%- include('footer') %>