<%- include('header') %>
    <form id="username-form" action="/chat" method="get">
        username <br>
        <input type="text" name="username" id="username"><br>
        <button type="submit">send</button>
    </form>
    <%- include('footer') %>