<div class="col-12 col-lg-7 col-xl-9">
    <!-- start top part -->
    <%- include('top-bar') %>
        <!-- end top part -->

        <!-- start middle part -->
        <div class="position-relative">
            <div id="msg-container" class="scrollpart-hidden chat-messages p-4">


            </div>
        </div>
        <!-- end middle part -->

        <!-- start input field -->
        <%- include('input-field') %>
            <!-- end input field -->
</div>